<footer class="d-flex justify-content-center align-items-center py-3">
  <div class="footer-content container">
    <div class="row g-4">
      <div class="col-lg-4 py-3">
        <div class="right-content d-flex flex-column text-center">
          <h4>LOCATION</h4>
          <span class="pb-2">2215 John Daniel Drive</span>
          <span>Clark, MO 65243</span>
        </div>
      </div>
      <div class="col-lg-4 py-3">
        <div class="middle-content text-center">
          <h4>AROUND THE WEB</h4>
          <ul
            class="d-flex ps-0 justify-content-center align align-items-center"
          >
            <li>
              <a href="https://www.facebook.com/" target="_blank">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com/" target="_blank">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://www.gmail.com/" target="_blank">
                <i class="fa-solid fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 py-3">
        <div class="left-content text-center">
          <h4>ABOUT FREELANCER</h4>
          <span
            >Freelance is a free to use, licensed Bootstrap theme created by
            Route</span
          >
        </div>
      </div>
    </div>
  </div>
</footer>
