/* :root {
  --nav-color-bg: #2c3e50;
} */

nav {
  background-color: var(--nav-bg);
  color: #fff;
  min-height: 80px;
  transition: 0.4s all;
}
nav .logo {
  font-size: 32px;
  font-weight: 600;
  font-family: var(--main-font);
}
nav ul li a {
  color: #fff;
  padding-inline: 15px;
  font-weight: 700;
  font-family: var(--main-font);
}
